.prod-seleccionado{
    width: 100vw;
    padding-top: 70px;
    box-sizing: border-box;
}

.prod-sel-img{
    width: 100vw;
    
    box-sizing: border-box;
    
}
    .img-sel{
        width: 100%;
        
        object-fit: cover;
    }

.prod-sel-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.875rem 1rem 0 1rem;
    box-sizing: border-box;

}
    .prod-sel-nom{
        color:#464646;
        font-style: normal;
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.625rem;
        margin-bottom: 0.87rem;
       

    }
    .prod-sel-precio {
        color:#464646;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.1875rem;
        margin-bottom: 0.87rem;

    }
    .prod-sel-desc{
        color:#464646;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1rem;
        margin-bottom: 0.87rem;

    }
    .prod-sel-similares{
        color: #464646;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 0.625rem;
        text-align: left;
        padding: 1rem;
    }


    
    @media screen and (min-width:768px){
        .prod-seleccionado{
            display: flex;
            margin-top: 3rem;
            padding: 3rem 2rem 1rem 2rem;
            align-items: center;
            justify-content: center;
            
        }
        
    }


    @media screen and (min-width:1440px){
        .prod-sel-desc{
            font-size: 1.3rem;
            line-height: 1.5rem;
           
        
        }
        
        .prod-sel-nom{
            font-size: 3rem;
        }
        .prod-sel-img{
            max-width: 500px;
            
        }
        .prod-sel-precio{
            font-size: 1.8rem;
            line-height: 1.3rem;
        }
        .prod-sel-similares{
            font-size: 2rem;
            padding:2rem;
        }
        .prod-sel-texto{
            width: calc(50vw - 4rem);
        }
        .prod-seleccionado{
            justify-content: flex-start;
        }
        
        
        

    

    }
   